@import url('./__description/profile__description.css');
@import url('./__add-button/profile__add-button.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__info/profile__info.css');
@import url('./__title/profile__title.css');
@import url('./__image/profile__image.css');

.profile {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 36px 0;
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 43px 0;
    flex-direction: column;
    text-align: center;
  }
}

/* Контейнер с аватаром */
.profile__avatar-container {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

/* Сам аватар */
.profile__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: opacity 0.3s;
}

/* Кнопка редактирования аватара */
.profile__avatar-edit-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6) url('../../images/edit-icon.svg') center no-repeat;
  background-size: 24px 24px;
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

/* Показываем иконку при наведении */
.profile__avatar-container:hover .profile__avatar-edit-button {
  opacity: 1;
}

